*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}
.containerpindex div,article{
    position: absolute;
}
.containerpindex div{
    width: 180px;
    height: 180px;  
}
.containerpindex div:first-child{
    top: 0;
    left: 0;
    background-color: #220CFD;  
}
.containerpindex div:nth-child(2){
    background-color: white;
}
.containerpindex div:nth-child(3){
    background-color: #FFD800;
}
.containerpindex div:nth-child(4){
    background-color: deepskyblue;
}
.containerpindex div:nth-child(5){
    background-color: #FF0000;
}
.containerpindex div:nth-child(6){
    background-color: #FF507C;
}
.containerpindex div:nth-child(7){
    background-color: #FF9300;
}
.containerpindex div:nth-child(8){
    background-color: #70FF00;
}
.containerpindex div:nth-child(9){
    background-color: #7D0CFD;
}
.containerpindex div:nth-child(2),.containerpindex div article:nth-child(2){
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.containerpindex div:nth-child(3),.containerpindex div article:nth-child(3){
    top: 0;
    right: 0;
}
.containerpindex div:nth-child(4),.containerpindex div article:nth-child(4){
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto 0;
}
.containerpindex div:nth-child(5),.containerpindex div article:nth-child(5){
    right: 0;
    bottom: 0;
}
.containerpindex div:nth-child(6),.containerpindex div article:nth-child(6){
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
}
.containerpindex div:nth-child(7),.containerpindex div article:nth-child(7){
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto 0;
}
.containerpindex div:nth-child(8),.containerpindex div article:nth-child(8){
    left: 0;
    bottom: 0;
}
.containerpindex div:nth-child(9),.containerpindex div article:nth-child(9){
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.containerpindex div article{
    width: 40px;
    height: 40px;
    background-color: black;
}